<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title itemprop="headline">Тестовое задание</title>
<meta name="keywords" content="Тестовое задание">
<meta name="description" content="Тестовое задание">
<meta name="copyright" content="Тестовое задание">
<meta property="og:title" content="Тестовое задание">
<meta property="og:type" content="website">
<meta property="og:locale" content="ru_RU">
<meta property="og:description" content="Тестовое задание">
<meta property="og:site_name" content="Тестовое задание">

<link rel="canonical" href="{{ .Permalink }}">