{{ $modelsData := partial "utils/get-data" "models" }}
{{ $vehiclesData := partial "utils/get-data" "vehicles" }}

{{ $res := slice }}
{{ range $vehiclesData }}
    {{ if (index $modelsData .data.model.id) }}
        {{ $res = $res | append .data.model.id }}
    {{ end }}
{{ end }}

<table>
    <thead>
    <tr>
        <th>Название модели</th>
        <th>Название бренда</th>
        <th>Идентификатор модели</th>
        <th>№</th>
    </tr>
    </thead>
    <tbody>
    {{ range sort $modelsData ".data.position" "asc" }}
        {{ if in $res .id}}
            <tr>
                <td>{{ .data.name }}</td>
                <td>{{ .data.brand.id }}</td>
                <td>{{ .id }}</td>
                <td>{{ .data.position }}</td>
            </tr>
        {{ end }}
    {{ end }}
    </tbody>
</table>
