{{ $models := partial "utils/get-data" "models" }}
{{ $vehiclesData := partial "utils/get-data" "vehicles" }}
<table>
    <thead>
    <tr>
        <th>Автомобиль</th>
        <th>Цвет модели</th>
        <th>Год выпуска</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    {{ range $vehiclesData }}
        {{ if eq (index $models .data.model.id).data.brand.id "mazda" }}
        <tr>
            <td>[{{ (index $models .data.model.id).data.brand.id }}][{{ .data.model.id }}]</td>
            <td>{{ .data.color }}</td>
            <td>{{ .data.year }}</td>
            <td>{{ .data.price }}</td>
        </tr>
        {{ end }}
    {{ end }}
    </tbody>
</table>
